<table class="table">
  <caption id="season-average">Seasons average: {{promedioSeries}}</caption>
  <thead class="border-bottom border-top">
      <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Channel</th>
          <th scope="col">Seasons</th>
      </tr>
  </thead>
  <tbody class="table-light" id="content">
    <tr *ngFor="let serie of seriesArray" (click)="serieSeleccionada(serie)">
      <td>{{ serie.id }}</td>
      <td>{{ serie.name }}</td>
      <td>{{ serie.channel }}</td>
      <td>{{ serie.seasons }}</td>
    </tr>
  </tbody>
</table>