/* You can add global styles to this file, and also import other style files */
.header{
    background-color:rgb(95, 162, 183) ;
    padding-top: 10px;
    padding-bottom: 6px ;
    display: flex;
}
.logo{
    width:150%;
}